.container {
    margin: 0 auto;
    max-width: 960px;
}

h2 {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    text-align: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.demo-wrap {
    color: #eeeeee;
    width: 130px;
    height: 130px;
    margin: 5px;
    background-color: #898b8b;
}

.demo-item {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #339966;
}

p {
    text-align: center;
}

a {
    margin-top: 30px;
    color: #7b8993;
    text-decoration: underline;
    -webkit-animation: hue 60s infinite linear;
    background-color: white;
}

a:hover {
    color: #f35626;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}